# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.log
*.db
*.sqlite3

# Node (Vue.js)
node_modules/
dist/
*.log

# IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de compilação
*.class
*.jar
*.war

# Arquivos específicos do teste
Teste_Vitor_Arruda.csv
Teste_Vitor_Arruda.zip
anexos.zip
Anexos/
api/Relatorio_cadop.csv

